@import '../common/config.scss';

.planets {
    padding: 50px 10px 10px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;

        @media #{$screen-tablet-min} {
            gap: 16px;
        }
    }

    @media #{$screen-tablet-min} {
        padding-top: 80px;
    }
}