$c-primary-400: #618EFF;
$c-neutral-white: #FFF;
$c-neutral-black: #000;
$c-neutral-900: #0B0E1E;
$c-neutral-800: #363636;
$c-neutral-500: #717171;
$c-neutral-300: #ABABAB;
$c-neutral-50: #EDEDED;
$c-f7-background: #F7F7F7;